/* --- logo ---*/
#site-logo {
    padding: 22px 22px 10px;
    background: #f17661;
    display: inline-block;
}

/* --- navbar icons ---*/
#navIcons {
    color: #fff;
}

/* --- dropdown hover ---*/ 
.navbar-nav li:hover .dropdown-menu {
    display: block;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
/*      ---         */

.navbar-dark {
    background-color: #1a1a1a;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar .btn-outline-success {
    background-color:  #fff;
    border-color: #f17661;
    color: #f17661;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .btn-outline-success:hover {
    background-color:  #f17661;
    border-color: #f17661;
    color: #fff;
}

.dropdown-menu > a:hover {
    background-color: #f0f0f0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #f17661;
}

.model label {
    position: absolute;
}

/*
 * --- carousel ---
 */
.carousel {
    background-color: #000000;
}

.carousel .carousel-item {
    height: 500px;
}

@media screen and (min-width: 700px) {
    .carousel-caption {
        position: absolute;
        left: auto;
        right: auto;
        width: 50%;
        top: 25%;
        right:0;
        z-index: 0;
    }

    #sushi {
        left: 20vh;
        top: 30vh;
    }
  }

.carousel-caption {
    position: absolute;
    z-index: 1;
}


.carousel .carousel-item img {
    position: absolute;
    
    }

    #sushi {
        z-index: 1;
        top: 20vh;
   
    }
    
.carousel-caption > h1 {
    font-size: 10vh;
}

.carousel-caption > h4,h5 {
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
}
.carousel-caption > p {
    font-size: x-small;
}
.carousel-caption > h1 > span {
    color: #f17661;
}

.carousel-caption > .btn-outline-primary,a {
    border-color: #fff;
    color: #fff;;
}

.carousel-caption > button > i {
    color: #f17661;
}

.carousel-caption > .btn-light {
    background-color:  #f17661;
    border-color: #f17661;
    color: #fff;
}

.carousel-caption > a {
    color: #f17661;
}

.carousel-caption > a:hover {
    color: #fff;
    text-decoration: none;
}

.carousel-caption > .btn-light:hover {
    background-color: #000000;
    border-color: #f17661;
    color: #f17661;
}

/* --- jumbotron --- */
.jumbotron {
    background-color: #f5f5f5;
    padding-top: 5vh;
    padding-bottom: 0;
    background: url("../img/background.png");
}

.jumbotron  h1 {
    font-family: 'Brush Script MT';
    align-self: center;
}

.jumbotron img {
    top: 0;
    right: 0;
    width: 200px;
}
   
.jumbotron p {
    font-size: 2vh;
}

/* --- album --- */
#welcome span {
    font-family: 'Brush Script MT';
    font-size: xx-large;
    color : #f17661;
}

#welcome h2 {
    font-family: 'Open Sans';
    font-style: normal;
    color: #202022;
    font-size: x-large;
}

#welcome p {
    font-family: 'Open Sans';
    font-size: small;
    color: #989898;
}

/* --- chefs --- */
#chefsSection {
    background-color: #f7f7f7;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 100%; 
    margin: 0;
}

#chefsSection h2 {
    font-family: 'Open Sans';
    font-style: normal;
    color: #202022;
    font-size: x-large;
    margin-bottom: 10px;;
}

#chefsSection span {
    font-family: 'Brush Script MT';
    font-size: xx-large;
    color : #f17661;
}

#chefs img {
    width: 120px;
    height: auto;
}

#chefs > .col-lg {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.06), 0 0 0 1px rgba(0,0,0,0.1) inset;
    margin: 20px;
    padding: 20px;
}

#chefs p {
    color: #989898;
    font-size: small;
    font-style: oblique;
}
.ratings > .fa-star {
    color: #FFDF00;
}

/* --- foooter --- */
.footer {
    background: url("../img/sand.png") #1a1a1a repeat scroll top center;
    margin: 0px auto;
    padding: 20px 0px;
}

.footer h5 {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
}

.footer p, li, address, a {
    color: #a1a1a1;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

.footer i {
    color: #fff;
}
    
#footer-contact {
    margin-left: 25px;
}
.footer hr {
    border-top: 1px solid #383838;;
    margin: 1px;
}


/*
 *  -- promo.html --
*/

.promo {
    color: #f17661;
    font-size: 7vh;
}

@media screen and (min-width: 1024px){
    #promo {
        padding-left: 100px;
        padding-right: 100px;
    }
}


#containerinfo {
    height: 100%;
}

#promo .col-lg:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#promo .btn-primary {
    background-color: #f17661;
    border-color: #f17661;
    padding: 5px;
}


#promo .col-lg {
    margin: 15px;
}

#promo .btn-primary:hover {
    border-color: #f17661;
    color: hsl(9, 84%, 66%);
    background-color: rgba(255, 255, 255, 0.637);
}

#promo .card {
    border: none;
}


/* 
 *  -- cart.html --
*/

@media screen and (min-width: 1024px){
    #cart .img-fluid {
        width: 100px
    }
}

#cart {
    background-color: #fff;
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

#cart h4 {
    padding-top: 20px;
    padding-bottom: 20px;;
}

#cart .row {
    padding-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

#cart .row div {
    margin-top: 10px;
    margin-bottom: 0px;
}

#cart i.fa.fa-trash {
    float: right;
    color: #700303
}

#cart i.fa.fa-trash:hover {
    color: #ff0000;
}

.cart-title {
    background-color:#f17661;
    margin-top: 0px;
}

@media screen and (min-width: 767px) {
    .cart-summary-text-align {
        text-align: right;
    }
}

#cart .btn-outline-primary {
    border-color: #f17661;
    color: #f17661;
}


#cart .btn-outline-primary:hover {
    border-color: #f17661;
    background-color: #f17661;
    color: #fff;
    
}

/* 
 *  -- checkout.html --
*/

#checkout {
    padding: 20px;
}

#checkout h4 {
    color: #6c757d;
    font-weight: 300;
}

#checkout h6, h5 {
    color: #000000;
    font-weight: lighter;
}

#checkoutForm {
    padding: 20px;
}

#checkoutForm label {
    color: #757575;
}

button.btn.btn-secondary {
    background-color: #f17661;
    border-color: #f17661;
}

button.btn.btn-secondary:hover {
    background-color: #fff;
    border-color: #f17661;
    color: #f17661;
}

#checkoutForm h4 {
    margin-bottom: 20px;
}

#checkoutForm  .col-sm-6 {
    margin-bottom: 5px;
}


/*
 * -- Shopping product gallery --
 */

 .bonus {
     background-color: #1a1a1a;
     color: #fa6247;
     padding: 5px;
     position: absolute;
     left: 0;
     font-weight: bolder;
 }

.product-desc h3>a{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}

.product-desc p {
    font-size: small;
    color: #6c757d;
}

/* --rating system -- */
.star-rating {
    margin-top: 0px;
}

.star-rating i {
    font-size: small;
    color: #FFDF00;
}

.star-rating > .fa-star-o {
    color: #6c757d;
}

/* -- price -- */
.price-actual {
    font-size: 20px;
    color: #eb3819;
    margin-left: 3px;
    font-weight: 500;
}

/* -- cart icons */
.cart-options {
    position: absolute;
    bottom: -10px;
}

.cart-options a {  
    color: #fff;
    padding: 0px;
 }

 .cart-options span {
    background: #f17661;
    padding: 7px 10px 7px 10px;   
 }

 